# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/ML_AI_Algorithm/WMT_Grocery_202209.csv
/ML_AI_Algorithm/lib
/ML_AI_Algorithm/lib64
/ML_AI_Algorithm/pyenv.cfg
/ML_AI_Algorithm/include
update-type.sh